@font-face {
  src:
    url('../fonts/HindSiliguri-Regular.woff2') format("woff2"),
    url('../fonts/HindSiliguri-Regular.woff') format("woff");
  font-family: "HindSiliguri";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../fonts/HindSiliguri-Medium.woff2') format("woff2"),
    url('../fonts/HindSiliguri-Medium.woff') format("woff");
  font-family: "HindSiliguri";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src:
    url('../fonts/HindSiliguri-SemiBold.woff2') format("woff2"),
    url('../fonts/HindSiliguri-SemiBold.woff') format("woff");
  font-family: "HindSiliguri";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}