.hero {

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-bottom: 75px;
  }

  &__info {
    max-width: 555px;
  }

  &__bg {
    position: absolute;
    right: -25px;
    top: 0;
    width: 50%;
    height: 100%;
    background-position: right right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__subtitle {
    margin-bottom: 5px;
  }

  &__banner-main {
    font-weight: 600;
    font-size: 61px;
    line-height: 1.2;
    color: $blue;
  }

  &__banner {
    font-weight: 400;
    font-size: 61px;
    line-height: 1.2;
    color: $black;
    margin-bottom: 30px;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.35;
    color: $black;
    opacity: 0.6;
    margin-bottom: 36px;
  }

  &__btn {
    margin-right: 31px;
  }

  &__price-new {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.35;
    margin-right: 18px;
  }

  &__price-old {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.7;
    opacity: 0.5;
    text-decoration: line-through;
  }
}